@page "/configuration"
@using WordCounterBase.Models;
@inject NavigationManager Navigation


<h3>Configuration</h3>

<label>Name of the json keys to consider to count words (Comma separated)</label>
<input id="regexJson" @bind-value="@ImportKeys" type="text" style="width: 300px;" />


@code {
    private string? _ImportKeys;

    public string? ImportKeys
    {
        get { return String.Join(", ", JsonProcessingConfiguration.ImportKeys); }
        set
        {
            _ImportKeys = value;
            ChangeImportKey();
        }
    }

    void ChangeImportKey()
    {
        if (string.IsNullOrEmpty(_ImportKeys)) return;
        JsonProcessingConfiguration.ImportKeys = _ImportKeys.Split(',', StringSplitOptions.TrimEntries).ToList();
    }

    private ValueTask OnLocationChanging(LocationChangingContext context)
    {
        ChangeImportKey();

        return ValueTask.CompletedTask;
    }
}
